.format-grid {
  .gtopics {
    .section:not(.hidden-section) +
    .hidden-section:before {
      content: "";
      display: block;
      position: static;
      width: 100%;
      height: 2px;
      background-color: red;
      margin: 2rem 0;
    }
  }
}
#gridiconcontainer {
  .gridicons > li {
    transition: .3s;
    // opacity: 0;
  }

  ul.gridicons {
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .hidden-section  {
    opacity: 0.4;
  }

  // .gridicons > li.pinned:nth-of-type(1) {
  //   // right: calc(50% - 108px);
  //   right: 10%;
  // }
  // .gridicons > li.pinned:nth-of-type(2) {
  //   right: 32%;
  // }
  // .gridicons > li.pinned:nth-of-type(3) {
  //   // right: calc(50%+108px);
  //   left: 32%;
  // }
  // .gridicons > li.pinned:nth-of-type(4) {
  //   left: 10%;
  // }

  .gridicons.content_inside > li.pinned {
    // position: absolute;
    // background: #19284f, url([[pix:format_grid|pushpin]]);
    // background-position: 10% 50%, center;
    //
    position: absolute;
    background-color: #19284f;
    background-image: url('[[pix:format_grid|pushpin]]');
    background-size: 10%;
    background-position: 10px;
    background-repeat: no-repeat;
    border-radius: 14px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    width: 170px;
    overflow: hidden;
    order:1;
    left: 0;
    ~ li.pinned{
      // left: 25%;
      left: 200px;
      ~ li.pinned{
        // left: 50%;
        left: 400px;
        ~ li.pinned{
          // left: 75%;
          left: 600px;
        }
      }
    }
    & a {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      & .icon_content {
        color: #fff;
        height: auto;
        width: 74%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
      }
    }
    & img {
      display: none;
    }
    & .image_holder {
      display: none;
    }
  }
  .gridicons li:not(.pinned){
    order: 2;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border:1px solid #eee;
  }
}

.single-section .mdl-left,
.single-section .mdl-right {
  display: none;
}
.course-content .single-section {
  display: flex;
  flex-direction: column;
  .section-navigation {
    order: 1;
  }
  ul.gtopics {
    order: 2;
  }
}

// for edit mode
.editing {
  #gridiconcontainer .gridicons>li.pinned {
    & a {
      display: none;
    }
    & .gridicon_link {
      display: flex;
    }

  }
  .single-section .mdl-right {
    display: block;
  }
}
