#gridiconcontainer {
  .gridicons > li {
    transition: .3s;
    opacity: 0;
  }

  ul.gridicons {
    position: relative;
    padding-top: 60px;
  }

  .gridicons > li.pinned:nth-of-type(1) {
    // right: calc(50% - 108px);
    right: 10%;
  }
  .gridicons > li.pinned:nth-of-type(2) {
    right: 32%;
  }
  .gridicons > li.pinned:nth-of-type(3) {
    // right: calc(50%+108px);
    left: 32%;
  }
  .gridicons > li.pinned:nth-of-type(4) {
    left: 10%;
  }

  .gridicons > li.pinned {
    position: absolute;
    background-color: #19284f;
    border-radius: 14px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    width: 170px;
    overflow: hidden;
    & .icon_content {
      color: #fff;
      height: auto;
    }
    & img {
      display: none;
    }
    & .image_holder {
      display: none;
    }
  }
}

.single-section .mdl-right {
  display: none;
}
.course-content .single-section {
  display: flex;
  flex-direction: column;
  .section-navigation {
    order: 1;
  }
  ul.gtopics {
    order: 2;
  }
}

// for edit mode
.editing {

  .single-section .mdl-right {
    display: block;
  }
}
